<?xml version="1.0"?>
<configuration>

  <system.serviceModel>

    <client>
      <endpoint name="endpoint" address="http://api.tumblr.com/v2" binding="webHttpBinding" bindingConfiguration="webHttpBinding_ITumblrService" behaviorConfiguration="ITumblrService_Behavior" contract="ITumblrService">
        <identity>
          <servicePrincipalName value="api.tumblr.com"/>
        </identity>
      </endpoint>
    </client>
    
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBinding_ITumblrService" hostNameComparisonMode="StrongWildcard" bypassProxyOnLocal="false">
          <readerQuotas maxDepth="32"/>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ITumblrService_Behavior">
          <webHttp automaticFormatSelectionEnabled="true" helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
