<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="apiKey" value="NTgqTNie0kyo5ndDn9C3A8uOXMfxmOvhzc6Yli6SV9tML7APXK" />
  </appSettings>

  <system.serviceModel>

    <client>
      <endpoint name="tumblrEndpoint" address="http://api.tumblr.com/v2" binding="webHttpBinding" bindingConfiguration="webHttpBinding_ITumblrService" behaviorConfiguration="ITumblrService_Behavior" contract="ITumblrService">
        <identity>
          <servicePrincipalName value="api.tumblr.com"/>
        </identity>
      </endpoint>
      <endpoint name="lmgtfyEndpoint" address="http://live.lmgtfy.com/" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_ILmgtfyService" behaviorConfiguration="ILmgtfyService_Behavior" contract="ILmgtfyService">
        <identity>
          <servicePrincipalName value="live.lmgtfy.com"/>
        </identity>
      </endpoint>
    </client>
    
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBinding_ITumblrService" hostNameComparisonMode="StrongWildcard" bypassProxyOnLocal="false">
          <readerQuotas maxDepth="32"/>
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="basicHttpBinding_ILmgtfyService" hostNameComparisonMode="StrongWildcard" bypassProxyOnLocal="false">
          <readerQuotas maxDepth="32"/>
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ITumblrService_Behavior">
          <webHttp automaticFormatSelectionEnabled="true" helpEnabled="true"/>
        </behavior>
        <behavior name="ILmgtfyService_Behavior">
          <webHttp automaticFormatSelectionEnabled="true" helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
